._*
*~

.idea
.vscode
.DS_Store

*.py[co]
*.py.swp
*.sw[p-z]

*/migrations/*
!*/migrations/__init__.py

media/
static/rest_framework/

celerybeat-schedule

node_modules
test*
*.bk
*.log
